[Desktop Entry]
Name=Zen Browser
Comment=Experience a calmer internet
Exec=flatpak run io.github.zen_browser.zen
Icon=io.github.zen_browser.zen
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;