[Desktop Entry]
Name=Zen Browser
Comment=Experience a calmer internet
Exec=zen-browser
Icon=/opt/zen-browser/browser/chrome/icons/default/default128.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;