[Unit]
Description=Restore custom ASCII art to /etc/issue for tuigreet
Before=greetd.service
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/cp -f --remove-destination /usr/local/share/tuigreet/issue.txt /etc/issue

[Install]
WantedBy=multi-user.target
